body {
    background-color: grey;
    font-family: Impact, sans-serif;
    font-size: 24px;
}

.body-flex {
    background-color: white;
}

nav a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

p {
    font-size: 18px;
    color: purple;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

th {
    border: 1px solid black;

}

td {
    border: 1px solid black;
}

.flex {
    display: flex;
}

.color-container {
    width: 50%;
}


.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.red {
    background-color: red;
    height: 50px;
}

.yellow {
    background-color: yellow;
    height: 150px;
}

.blue {
    background-color: blue;
    height: 500px;
    width: 50%;
}

.green {
    background-color: green;
    height: 250px;
}

.orange {
    background-color: orange;
    height: 250px;
    width: 50%;
}

.grey {
    background-color: #084c4d;
    height: 125px;
    width: 100%;
}

.white {
    background-color: #f5f5dc;
    height: 125px;
    width: 50%;
}

.black {
    background-color: black;
    height: 125px;
    width: 50%;
}